<div id="home">
        <div class="syn-background">
            <div class="row bg-pink">
                <div class="col-6">
                    <img src="<%= image_url('tho.png') %>" style="width:90%">
                </div>
                <div class="col-6 mt-5 pt-5 text-center">
                    <div class="text-slogan">Học tiếng anh dễ dàng và tiện lợi</div>
                    <div class="button_container m-2">
                        <a href="/users/sign_up"><button class="btn btn-outline-success"><span>Bắt đầu</span></button></a>
                    </div>
                    <a href="/users/sign_in"><h5>Tôi đã có tài khoản</h5></a>
                </div>
            </div>
            <div class="container row">
                <h1 class="text-center"><b>Lí do bạn nên cùng học với Bubble</b></h1>
                <div class="col-4">
                    <div class="mt-5">
                        <h3><b>Cập nhật liên tục</b></h3>
                        <div>
                        Liên tục cập nhật các bộ đề thi mới, giúp nguời dùng dễ dàng nắm bắt xu hướng đề thi
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3><b>Cá nhân hoá trải nghiệm</b></h3>
                        <div>
                        Lưu trữ tiến trình học theo mỗi cá nhân. Theo dõi quá trình học tốt hơn, cải thiện khả năng học tập
                        </div>
                    </div>
                </div>

                <div class="col-4">
                     <img src="<%= image_url('c2.png') %>" style="width:400px; height:400px;padding-right:50px;">
                </div>
                <div class="col-4">
                    <div class="mt-5">
                        <h3><b>Truyền động lực học</b></h3>
                        <div>
                        Chúng tôi giúp người học dễ dàng xây dựng thói quen học tập, tương tác với mọi người qua các bài viết, câu hỏi
                        </div>
                    </div>
                    <div class="mt-5">
                        <h3><b>Học thật vui!</b></h3>
                        <div>
                        Học hiệu quả mà không nhàm chán! Xây dựng kỹ năng mỗi ngày qua giao diện thân thiện, dễ làm quen
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>