<%= render 'user/layouts/nav' %>
<div class="container border border-primary rounded p-2">
    <a href="/user/posts/new"><button class="btn btn-outline-success">Thêm bài viết</button></a>
    
</div>
