/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.name-text{
    color: white;
    text-shadow: 2px 2px 15px #ff003d;
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
  }
.btn-layout {
  border: none;
  border-radius: 15px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  background-color: #ff6395;
  padding: 15px 40px;
  margin: 0 auto;
  width: 190px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}
.btn-layout span {
  position: relative; 
  z-index: 1;
}
.btn-layout:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.btn-layout:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.link {
  font-size: 20px;
  margin-top: 30px;
}
.link a {
  color: #000;
  font-size: 25px; 
}
.img-nav{
  height: 50px;
  width: 50px;
  margin-right: 30px;
  border-radius: 50%;
}
.dropdown{
  padding-left: 80px;
}
.bg-pink{
    background-color: #ffd1dc;
  }
  .white-text{
    color: white;
    text-shadow: 2px 2px 15px #ff003d;
  }
  body{
    font-family: 'Courier New', monospace;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .vue-notification{
    font-size: 20px;
    border-radius: 25px;
  }
  .nav-text{
      font-size: 3vw;
      font-weight: bold;
  }
  .notice{
    text-align: center;
    background: #75f8af;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  .alert{
    text-align: center;
    background:red;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }