<div class="container bg-white">
    <div class="row text-center text-nav">
        <div class="col-3 nav-text"><a href="/user/posts">HỎI ĐÁP</a></div>
        <div class="col-3 nav-text"><a href="/user/categories">BÀI HỌC</a></div>
        <div class="col-3 nav-text"><a href="/user/document">TÀI LIỆU</a></div>
        <div class="col-3 nav-text"><a href="/user">CÁ NHÂN</a></div>
    </div>
</div>