<% @posts.each do |post| %>
    <a href="/user/posts/<%= post.id %>">
        <div class=" m-3 p-2 post-box">
            <div class="user m-0">
                <b><%= post.user.email %></b>
            </div>
            <div class="m-0 p-2">
                <%= post.content%>
                <div class="text-center img-box">
                    <%= image_tag post.image if post.image.present? %>
                </div>                    
            </div>
        </div>
    </a>
<% end %>